{{define "title"}}Create Account{{end}}

{{define "content"}}
<h1>
    Create your wordser Account
</h1>
<h2>
    Experience a modern, integrated job search solution!
</h2>

<form id="create-account-form">
    <input type="text" name="username" id="username-field" placeholder="Username">
    <input type="password" name="password" id="password-field" placeholder="Password">
    <input type="password" name="confirm-password" id="confirm-password-field" placeholder="Confirm Password">
    <input type="submit" value="Create" id="create-account-form-submit">
</form>

{{end}}